* {
    margin: 5px;
    padding: 5px;
    background-color: lightsteelblue;
}

#id-divmain {
    margin-top: 230px;
    margin-left: 480px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

h3 {
    margin-top: 10px;
    margin-left: 90px;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}